<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Liste des articles en base de données</h1>

    
    <ul>
        {% for article in liste %}
            <li>
                {{article.name}} {{article['name']}}
            </li>
        {% endfor %}
    </ul>

    <hr>

    <h1>Save file</h1>
    <form method="POST" action="/save-file" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <input type="file" name="new_file"><br><br>
        <input type="submit">
    </form>
    

</body>
</html>